PySide6>=6.5.0
SQLAlchemy>=2.0.0
alembic>=1.12.0
python-dotenv>=1.0.0
firebase-admin>=6.4.0
google-cloud-firestore>=2.15.0
firebase>=4.0.1
backoff>=2.2.1
pymongo>=4.8.0
Pillow>=10.0.0
llama-cpp-python 
groq